@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img class="img-responsive" src="~/Content/Images/UnicocSnies.png" width="550" height="160" alt="imgf" />
    <hr/>
    <p>Bienvenido al sistemas de consultas de UNICOC - SNIES</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h4>Consulta de Participantes</h4>
        <p>
        </p>
        <div class="form-actions no-color">
            @Html.ActionLink("Ir ahora >>", "Index", "Participante", new  {@area = ""}, new { @Class = "btn btn-primary"})
        </div>
    </div>
    <div class="col-md-4">
        <h4>Consulta de Admitidos</h4>
        <p>
        </p>
        <div class="form-actions no-color">
            @Html.ActionLink("Ir ahora >>", "Index", "USERINFO", new { @area = ""}, new { @Class = "btn btn-warning"})
        </div>
    </div>
    <div Class="col-md-4">
        <h4>Consulta tus Ingresos y Salidas</h4>
        <p>
        </p>
        <div class="form-actions no-color">
            @Html.ActionLink("Ir ahora >>", "BusquedaAvanzada", "ConsultaView", null, new { @Class = "btn btn-success"})
            @*<img id="loading" src="~/Content/Images/flecha.gif" alt="Consultate!!..." width="70" height="35" />*@
        </div>
    </div>
</div>